body{
  background-color: lightgray;
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:1fr 4fr 1fr;
rgrid-template-areas:
  "hhhhh"
  "mmmmm"
  "ccccc"
  "fffff"
  
  
}

.box1{
  flex-grow:1;
  background-color: red;
}
  


.box2{
  flex-grow:2;
  background-color: white;
  
}



.box3{
  flex-grow:1;
background-color: blue;
}

.header{
  grid-column:1/-1;
  background-color:yellow;
}

.main{
  grid-column:1/2;
  display: flex;
  background-color:orange;
  border: solid 12px brown;
}

.content{
  grid-column:2/-1;
  background-color:Black;
}
.footer{
 grid-column: 1/-1;
  background-color: green;
}